article{
    height: 30%;
    width:40;
    padding: 10px;
    position: fixed;
    left: 30%;
    top: 20%;
    text-align: center;
}
section{
	background-color: ;
    top: 40%;
    width: 90%;
    left: 50%;
    float: left;
    padding: 10px;
    color: black;
    opacity: 0.95;
}

body{
    background: #ffffff url("railroad_cpy.jpg") no-repeat right top;
    
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: 0px;
    padding: 0px;
    color: #332255;
}

h1{
    font-family: "Optima";
    margin: px;
    padding: 0px;
    top: 10%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 60;
    color: white;
    //text-decoration-style: dashed;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2{
    margin: 30px;
    padding: 10px;
    text-transform: uppercase;
    a:link{
        color: white;
    }
    a:visited{
        color: white;  
    }
    a:hover{
        color: #421C52;   
    }
    
}

.right{
position: absolute;
right: 0px;
width: 300 px;
}

p{
font-family: "Verdana";
font-size: 13px;
}