
article{
    height: 500px;
    width:500px;
    padding: 10px;
    position: absolute;
    left: 20%;
    top: 10%;
    text-align: center;
}
section{
	background-color: #886699;
    top: 50%;
    width: 90%;
    left: 50%;
    float: left;
    padding: 10px;
    color: white;
    opacity: 0.95;
}

body{
    background: url("lol.png") repeat bottom;
    background-color: #ddd;
    //background: linear-gradient(#ffa6ed, #fbc7f1);
    margin: 0px;
    padding: 0px;
    color: #332255;
}

h1{
    font-family: "Optima";
    margin: px;
    padding: 0px;
    top: 10%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 60;
    text-decoration-style: dashed;
    //-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2{
    margin: 30px;
    padding: 10px;
    text-transform: uppercase;
    a:link{
        color: white;
    }
    a:visited{
        color: white;  
    }
    a:hover{
        color: #421C52;   
    }
    
}

.right{
position: absolute;
right: 0px;
width: 300 px;
}

p{
font-family: "Verdana";
font-size: 13px;
}