body {
  padding: 0px;
  margin: 0px;
  /*background-color: #230645;*/

  color: #05000A;
  text-transform: uppercase;
  font-family: Montserrat;
}

.main{
  /*background-color: blue;*/
  text-align: center;
  left: 35%;
  /*top: 0%;*/
  /*float: center;*/
  position: absolute;
  /*border: black solid 2px 0 0 0;*/
  width: 30%;
  height: 100%;
  overflow: hidden;
  display: block;
  /*padding-bottom: 5px;*/
}

h1{
  font-size: 45px;
}

.main-header{
  /*background-color: red;*/
  height: 300%;
  float: center;
}

#top{
  background color: red;
}

strong#song{
  font-size: 20px;
}

#dumb{
  color: white;
  display: table-cell;
  vertical-align: bottom;
}

#main-song{
  height: 65%;
  top: 30%;
  width: 100%;
  position: absolute;
  /*position:relative;*/
  display:block;
  text-align: center;
  padding-top: 10%;
  overflow: scroll;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#main-options{
  /*background-color: pink;*/
  float: center;
  height: 10%;
  text-align: center;
  font-size: 11px;
  display: table;
  width: 100%;
}

.img-wrap{
  position: relative;
  font-family: Source Sans Pro;
  font-weight: 700;
}

.img-desc{
  position: absolute;
  top: 35%;
  height: 25%;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.60);
  color: black;
  visibility: hidden;
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;
}

.img-wrap:hover .img-desc {
  visibility: visible;
  opacity: 1;
}

a:link{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    text-decoration: none;
}